.card5 {
  width: 100%;

  position: relative;
  overflow: hidden;
  display: flex;
  z-index: 30;
  align-items: center;
  justify-content: center;
  margin-top: 8vw;

  @media all and (max-width: 1440px) {
    // height: auto;
  }

  .card5-swiper {
    position: relative;
    width: 80%;
    .hint {
      @include hint();
      z-index: 20;
    }
    .swiper-slide {
      width: 100%;
      overflow: hidden;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    .swiper-pagination {
      position: absolute;
      bottom: 0%;
      opacity: 0;
    }

    .swiper-pagination-bullet-active {
      background-color: #fff !important;
    }
  }
}
