.card2 {
  width: 100%;
  position: relative;
  padding-top: 6vw;
  margin-bottom: 5vw;
  padding-bottom: 6vw;

  .c2-bg-earth-box {
    position: absolute;
    top: 36%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 17%;
    img {
      width: 100%;
    }
  }

  .c2-bg-earth-circle-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: normal;

    width: 34.5%;
    z-index: 1;
    img {
      opacity: 0.5;
    }
  }

  .c2-content {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding-top: 14vw;
    .c2-title1 {
      width: 42%;

      img {
        width: 100%;
      }
    }

    .c2-title2 {
      font-family: "Noto Sans TC Medium";
      margin-bottom: 1vw;
      text-align: center;
      margin-top: -1.5vw;
      :first-child {
        font-size: 3vw;
        letter-spacing: 0.12em;
      }
      :last-child {
        font-size: 1.9vw;
        letter-spacing: 1em;
        font-family: "Noto Sans TC Medium";
        margin-right: -1vw;
      }
    }

    .c2-title3 {
      margin-bottom: 1.6vw;
      text-align: center;
      letter-spacing: 0.06em;
      font-size: 1.25vw;
      line-height: 2;
      font-family: "Noto Sans TC Regular";
      :last-child {
        font-size: 1.7vw;
        letter-spacing: 0.07em;
        font-family: "Noto Sans TC Regular";
      }
    }

    .c2-title4 {
      width: 38%;
      position: relative;
      align-items: center;
      text-align: center;
      .cover {
        position: relative;
        width: 28.5%;
        margin-left: 0.5vw;
      }
      .long-text {
        position: absolute;
        width: 100%;
        left: 0vw;
        top: 1vw;
      }
    }
  }
}
