.card3 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  z-index: 30;
  justify-content: center;

  .c3-slider {
    width: 100%;
    position: relative;
    z-index: 20;
    display: flex;
    justify-content: center;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    background-color: white;

    .c3-content-box {
      width: 100%;
      display: flex;
      justify-content: center;
      overflow: hidden;
      position: relative;
      .hint {
        @include hint();
        bottom: 1.5vw;
        z-index: 20;
      }
      .c3-content {
        position: relative;
        width: 100%;
        // clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
      }

      .c3-content1 {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
      .c3-slide {
        width: 100%;
        height: 100%;
        position: relative;
        .c3-slide-img {
          position: relative;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .c3-slide1 {
        .img-text-mix1 {
          position: absolute;
          z-index: 10;
          bottom: 28%;
          width: 32%;
          left: 34%;
          mix-blend-mode: soft-light;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .img-text1 {
          position: absolute;
          z-index: 10;
          bottom: 23%;
          width: 12.4%;
          left: 43.8%;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }

      .c3-content2 {
        position: absolute;

        top: 0px;
        left: 0px;
        width: 100%;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        .c3-slide-absolute2 {
          .c3-slide-img {
            width: 100%;
            position: relative;
            height: 100%;
            object-fit: cover;
          }
          .img-text-mix2 {
            position: absolute;
            z-index: 10;
            bottom: 28%;
            width: 28%;
            left: 35%;
            mix-blend-mode: screen;
            overflow: hidden;
            img {
              width: 100%;
            }
          }

          .img-text2 {
            position: absolute;
            z-index: 10;
            bottom: 22.5%;
            width: 12.5%;
            left: 43%;
            overflow: hidden;
            // opacity: 0;
            img {
              width: 100%;
            }
          }
        }
      }

      .c3-content3 {
        position: absolute;

        top: 0px;
        width: 100%;
        left: 0px;
        // clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        .c3-slide-absolute3 {
          // background-color: white;
          .c3-slide-img {
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          .img-text-mix3 {
            position: absolute;
            z-index: 10;
            top: 12%;
            width: 35%;
            left: 32.5%;
            mix-blend-mode: darken;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .img-text3 {
            position: absolute;
            z-index: 10;
            top: 19%;
            width: 12%;
            left: 43.5%;
            // opacity: 0;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
          .img-text3-2 {
            position: absolute;
            z-index: 10;
            top: 34.5%;
            width: 5.8%;
            left: 46.7%;
            // opacity: 0;
          }

          .light-video {
            position: absolute;
            z-index: 10;
            top: 43.5%;
            width: 17.5vw;
            left: 40.7%;
            transform: translate3d(0, 0, 0);
            mix-blend-mode: plus-lighter;
          }
        }
      }
    }
  }
}
