.card8 {
  width: 100%;
  // height: 100vh;
  position: relative;
  z-index: 310;
  overflow: hidden;
  margin-top: 5vw;

  .overflow {
    overflow: hidden;
    position: relative;
    width: 100%;

    .hint {
      @include hint();
      z-index: 20;
      right: 0.8vw;
      bottom: 0.8vw;
    }
    .bg {
      width: 100%;
      object-fit: cover;
    }
  }

  .logo {
    position: absolute;
    width: 10%;
    top: 13%;
    left: 8%;
    @media all and (max-width: 1440px) {
      top: 10%;
    }
  }

  .c8-text {
    position: absolute;
    width: 10%;
    bottom: 32%;
    right: 11%;
  }
}
