.card7 {
  width: 100%;
  // height: 100vh;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vw;
  overflow: hidden;
  z-index: 30;

  .left-box {
    width: 53%;
    overflow: hidden;

    .card7-swiper {
      position: relative;
      width: 100%;
      .hint {
        @include hint();
        z-index: 20;
      }
      .swiper-slide {
        width: 100%;
        overflow: hidden;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .c7prev {
    position: absolute;
    top: 47%;
    left: 2%;
    z-index: 999;
    cursor: pointer;
    height: 4.5%;
    padding-left: 1vw;
    padding-right: 1vw;
    @media all and (max-width: 1920px) {
      left: 1%;
    }
    @media all and (max-width: 1440px) {
      height: 5.5%;
      left: 0.8%;
    }
    img {
      height: 100%;
    }
  }

  .c7next {
    position: absolute;
    top: 47%;
    right: 2%;
    z-index: 999;
    cursor: pointer;
    height: 4.5%;
    padding-left: 1vw;
    padding-right: 1vw;
    @media all and (max-width: 1920px) {
      right: 1%;
    }
    @media all and (max-width: 1440px) {
      height: 5.5%;
      right: 0.8%;
    }
    img {
      height: 100%;
    }
  }
  .right-box {
    width: 23%;
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 0vw;
    z-index: 50;
    .c7-year {
      position: absolute;

      width: 100%;
      -webkit-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
  }
}
