.card10 {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 30;
  align-items: center;
  margin-top: 8vw;

  padding-bottom: 5vw;
  .swiper-box {
    position: relative;
    width: 100%;
    display: flex;
    .card10-swiper {
      position: relative;
      width: 100%;
      display: flex;

      .swiper-slide {
        width: 100%;
        display: flex;
        overflow: hidden;
        justify-content: center;
        .left-box {
          display: flex;
          flex-direction: column;
          margin-right: 5vw;
          img {
            width: 45vw;
          }
        }
        .right-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding-top: 3vw;
          .top-text {
            display: flex;
            margin-bottom: 2vw;
            img {
              width: 28vw;
            }
          }

          .center-line {
            display: flex;
            flex-direction: column;
            margin-bottom: 2vw;
            img {
              width: 7%;
              height: 6vw;
            }
          }

          .button-box {
            display: flex;

            .button {
              margin-right: 0.8vw;
              a {
                .btn-img-box {
                  display: block;
                  width: 7vw;
                  height: 7vw;
                  overflow: hidden;
                }
                img {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .banner6 {
        .top-text {
          margin-bottom: 1vw !important;
          img {
            width: 25.5vw !important;
          }
        }
        .center-line {
          margin-bottom: 1vw !important;
          img {
            height: 3vw !important;
          }
        }

        .button {
          margin-right: 0vw !important;
        }
      }

      .c10prev {
        position: absolute;
        top: 47%;
        left: 2%;
        z-index: 999;
        cursor: pointer;
        height: 5.5%;
        padding-left: 1vw;
        padding-right: 1vw;
        @media all and (max-width: 1440px) {
          height: 7%;
        }
        img {
          height: 100%;
        }
      }

      .c10next {
        position: absolute;
        top: 47%;
        right: 2%;
        z-index: 999;
        cursor: pointer;
        height: 5.5%;
        padding-left: 1vw;
        padding-right: 1vw;
        @media all and (max-width: 1440px) {
          height: 7%;
        }
        img {
          height: 100%;
        }
      }
    }
  }
}
