.form-new {
  background-color: #06103e;
  z-index: 30;
  position: relative;
  width: 100%;
  display: flex;
  //   flex-direction: column;
  padding-bottom: 2vw;
  overflow: hidden;
  padding-top: 7vw;

  .left-box {
    display: flex;
    width: 45%;
    position: relative;

    flex-direction: column;
    align-items: end;

    .title-box {
      color: white;
      font-size: 1.3vw;
      font-family: "微軟正黑體";
      letter-spacing: 0.1em;
      position: absolute;
      top: -4.2vw;
      left: 22vw;
    }
    .form-box {
      display: flex;
      width: 100%;
      flex-direction: column;
      background-color: white;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 1vw;
      width: 39vw;
      .hint {
        display: flex;
        position: relative;
        margin-bottom: 0;
        margin-top: 2%;
        font-size: 0.8vw;
        margin-bottom: 0.3vw;
        .text-danger {
          margin-right: 0.7%;
          font-weight: 500;
          font-size: 0.9vw;
          color: red;
          font-family: "Noto Sans TC", serif;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        .form-item {
          font-family: "Noto Sans TC", serif;
          position: relative;
          padding-top: 0.8vw;
          padding-bottom: 0.8vw;

          display: flex;
          justify-content: space-between;
          .text-danger {
            position: absolute;
            font-weight: 500;
            font-size: 0.9vw;
            color: red;
            left: -0.5vw;
            font-family: "Noto Sans TC", serif;
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #7d80ad;
            bottom: 0vw;
            left: 0px;
          }

          label {
            letter-spacing: 0.15em;
            font-size: 1vw;
            font-family: "Noto Sans TC", serif;
            color: black;
            font-weight: 500;

            display: flex;
            align-items: center;
            justify-content: space-between;
          }

          input {
            font-size: 1vw;
            border: none;
            background-color: transparent;
            width: 81%;
            letter-spacing: 0.1em;
            font-family: "Noto Sans TC", serif;
          }

          select {
            font-size: 1vw;
            border: none;
            background-color: transparent;
            text-align: center;
            width: 81%;
            font-family: "Noto Sans TC", serif;
            letter-spacing: 0.15em;
          }
        }

        .memo-item {
          padding-bottom: 0.3vw;
          label {
            display: flex;
            justify-content: space-between;
            width: 4.7vw;
          }
          &::after {
            display: none;
          }
        }
      }

      .privacy-notice-title-box {
        display: flex;
        letter-spacing: 0.13vw;
        color: #595757;
        font-weight: 500;
        font-size: 0.78vw;
        font-family: "Noto Sans TC", serif;
        margin-bottom: 0.3vw;
        div {
          position: relative;
          width: 100%;
          &::after {
            content: "";
            position: absolute;
            width: 85%;
            height: 1px;
            background-color: #7d80ad;
            bottom: 0.45vw;
            right: 0px;
          }
        }
      }

      .privacy-notice-send-btn-box {
        display: flex;
        margin-bottom: 1vw;
        border: 1px solid red;
        width: 100%;
        justify-content: space-between;
        .left-text-box {
          display: flex;
          flex-direction: column;
          letter-spacing: 0.1vw;
          color: #595757;
          font-weight: 500;
          font-size: 0.55vw;
          font-family: "Noto Sans TC", serif;
          border: 1px solid red;
          div {
            margin-bottom: 0.3vw;
          }
        }

        .right-btn-box {
          .send-btn {
            font-size: 1vw;
            padding-top: 0.35vw;
            padding-bottom: 0.5vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border: none;
            color: white;
            border-radius: 0.45vw;
            text-indent: 0.35vw;
            letter-spacing: 0.23vw;
            background: linear-gradient(
              to bottom,
              #003399 0%,
              #0a2560 50%,
              #161f3b 100%
            );
            cursor: pointer;
            font-family: "Noto Sans TC", serif;
          }
        }
      }
    }
  }
  .right-box {
    // top: -2.6vw;
    display: flex;
    width: 55%;
    position: relative;
    .form-logo-box {
      position: absolute;
      background: linear-gradient(
        to bottom,
        #dacfbb 0%,
        #bf9e7c 21%,
        #92644c 45%,
        #bb8b69 74%,
        #ceb58e 100%
      );
      -webkit-mask-image: url(../../images/form_logo.png);
      mask-image: url(../../images/form_logo.png);
      mask-repeat: no-repeat;
      overflow: hidden;
      height: 5vw;
      width: 5.3vw;
      left: 21.8vw;
      top: -2.6vw;
      overflow: hidden;
      mask-size: 100%;

      .light {
        position: relative;
        z-index: 1;
        width: 70%;
        height: 200%;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );

        transform: rotate(34deg) translateX(-200%);
        animation-name: lightMv;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
    @keyframes lightMv {
      0% {
        transform: rotate(34deg) translateX(-200%);
      }
      100% {
        transform: rotate(34deg) translateX(200%);
      }
    }
    .form-text-svg {
      position: absolute;
      top: 3vw;
      width: 29vw;
      left: 10vw;
    }
    .img-box {
      display: flex;
      // position: absolute;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
