.form-new {
  background-color: #131f3f;
  z-index: 30;
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 2vw;
  overflow: hidden;
  padding-top: 7vw;

  @media all and (max-width: 1024px) {
    background-color: #1a2f5b;
  }

  input[name="zipcode"] {
    display: none !important;
  }
  select[name="ca_area"],
  select[name="ca_city"] {
    width: 100% !important;
    font-weight: 600;
  }
  div[data-name="ca_area"],
  div[data-name="ca_city"] {
    display: flex;
    width: 81%;
    @media all and (max-width: 1024px) {
      width: 70%;
      text-align: start;
    }
  }
  @media all and (max-width: 1024px) {
    padding-top: 0vw;
    flex-direction: column-reverse;
  }
  .left-box {
    display: flex;
    width: 45%;
    position: relative;
    margin-top: 0.5vw;
    flex-direction: column;
    align-items: end;
    @media all and (max-width: 1024px) {
      width: 100%;
      align-items: center;
      margin-top: 0vw;
      padding-top: 6vw;
    }
    .title-box {
      color: white;
      font-size: 1.3vw;
      font-family: "微軟正黑體";
      letter-spacing: 0.1em;
      position: absolute;
      top: -4.2vw;
      left: 22vw;
      @media all and (max-width: 1024px) {
        position: relative;
        top: 0vw;
        left: 0vw;
        font-size: 4vw;
        letter-spacing: 0.3em;
      }
    }
    .form-box {
      display: flex;
      width: 100%;
      flex-direction: column;
      background-color: white;
      padding-left: 3vw;
      padding-right: 3vw;
      padding-top: 1vw;
      width: 39vw;
      padding-bottom: 2.5vw;
      @media all and (max-width: 1024px) {
        width: 90%;
        margin-top: 7vw;
        padding-left: 7vw;
        padding-right: 6vw;
        padding-top: 3vw;
        padding-bottom: 4vw;
      }
      .hint {
        display: flex;
        position: relative;
        margin-top: 2%;
        font-size: 0.8vw;
        letter-spacing: 0.1em;
        margin-bottom: 0.3vw;
        @media all and (max-width: 1024px) {
          font-size: 3vw;
          margin-bottom: 4vw;
        }
        .text-danger {
          font-weight: 500;
          font-size: 0.9vw;
          left: -0.5vw;
          position: absolute;
          color: red;
          font-family: "微軟正黑體";
          @media all and (max-width: 1024px) {
            font-size: 3.2vw;
            left: -2vw;
            top: -1vw;
          }
        }
      }

      form {
        display: flex;
        flex-direction: column;
        .form-item {
          font-family: "微軟正黑體";
          position: relative;
          padding-top: 0.8vw;
          padding-bottom: 0.8vw;
          display: flex;
          justify-content: space-between;
          @media all and (max-width: 1024px) {
            padding-top: 2vw;
            padding-bottom: 2vw;
          }
          @media all and (max-width: 500px) {
            padding-top: 2.5vw;
            padding-bottom: 2.5vw;
          }

          .text-danger {
            position: absolute;
            font-weight: 500;
            font-size: 0.9vw;
            color: red;
            left: -0.5vw;
            font-family: "微軟正黑體";
            @media all and (max-width: 1024px) {
              font-size: 3.2vw;
              left: -1.7vw;
              top: 1vw;
            }
            @media all and (max-width: 500px) {
              left: -2vw;
              top: 1.5vw;
            }
          }

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #7d80ad;
            bottom: 0vw;
            left: 0px;
          }

          label {
            letter-spacing: 0.15em;
            font-size: 1vw;
            font-family: "微軟正黑體";
            color: black;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media all and (max-width: 1024px) {
              font-size: 3.7vw;
              letter-spacing: 0.2em;
            }
          }

          input {
            font-size: 1vw;
            border: none;
            background-color: transparent;
            width: 81%;
            letter-spacing: 0.1em;
            font-weight: 600;
            font-family: "微軟正黑體";
            @media all and (max-width: 1024px) {
              width: 70%;
              font-size: 3.7vw;
            }
          }

          select {
            font-size: 1vw;
            border: none;
            background-color: transparent;
            text-align: center;
            width: 81%;
            font-weight: 600;
            font-family: "微軟正黑體";
            letter-spacing: 0.15em;
            @media all and (max-width: 1024px) {
              width: 70%;
              font-size: 3.7vw;
              text-align: start;
            }
          }
        }

        .memo-item {
          padding-bottom: 0.3vw;
          label {
            display: flex;
            justify-content: space-between;
            width: 4.7vw;
            @media all and (max-width: 1024px) {
              width: 17.7vw;
            }
          }
          &::after {
            display: none;
          }
        }
      }

      .privacy-notice-title-box {
        display: flex;
        letter-spacing: 0.13vw;
        color: #595757;
        font-weight: 600;
        font-size: 0.78vw;
        font-family: "微軟正黑體";
        margin-bottom: 0.4vw;
        @media all and (max-width: 1024px) {
          font-size: 3vw;
          margin-top: 1vw;
          letter-spacing: 0.14em;
          margin-bottom: 1.4vw;
        }
        div {
          position: relative;
          width: 100%;
          &::after {
            content: "";
            position: absolute;
            width: 85%;
            height: 1px;
            background-color: #7d80ad;
            bottom: 0.5vw;
            right: 0px;

            @media all and (max-width: 1024px) {
              width: 76%;
              bottom: 2vw;
            }
          }
        }
      }

      .privacy-notice-send-btn-box {
        display: flex;
        margin-bottom: 0.8vw;
        width: 100%;
        justify-content: space-between;
        @media all and (max-width: 1024px) {
          flex-direction: column;
          margin-bottom: 0vw;
        }
        .left-text-checkbox-box {
          display: flex;
          flex-direction: column;
          letter-spacing: 0.11vw;
          color: #595757;
          font-weight: 600;
          font-size: 0.55vw;
          font-family: "微軟正黑體";

          .text-checkbox-pc {
            @media all and (max-width: 1024px) {
              display: none;
            }
          }

          .text-checkbox-mobile {
            display: none;
            @media all and (max-width: 1024px) {
              font-size: 3vw;
              line-height: 1.5;
              display: flex;
              margin-bottom: 1vw;
            }
          }

          div {
            margin-bottom: 0.15vw;
          }
          .checkbox-box {
            display: flex;
            label {
              letter-spacing: 0.45em;
              font-size: 0.63vw;
              font-weight: 600;
              line-height: 1.5;
              margin-bottom: 0;
              color: #595757;
              cursor: pointer;
              @media all and (max-width: 1440px) {
                letter-spacing: 0.44em;
              }
              @media all and (max-width: 1024px) {
                font-size: 2.5vw;
                font-weight: 600;
                letter-spacing: 0.12em;
              }
            }

            input#ca_privacy {
              cursor: pointer;
              scale: 1.1;
              @media all and (max-width: 1440px) {
                scale: 1;
                transform: translateY(0.2vw);
              }
            }
          }
        }

        .right-btn-box {
          align-self: center;
          @media all and (max-width: 1366px) {
            padding-top: 1%;
          }

          @media all and (max-width: 1024px) {
            margin-top: 3vw;
          }

          .send-btn {
            font-size: 1.1vw;
            padding-top: 0.35vw;
            padding-bottom: 0.6vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border: none;
            color: white;
            border-radius: 0.5vw;
            font-weight: 600;
            text-indent: 0.35vw;
            letter-spacing: 0.23vw;
            background: linear-gradient(
              to bottom,
              #003399 0%,
              #0a2560 50%,
              #161f3b 100%
            );
            cursor: pointer;
            font-family: "微軟正黑體";

            @media all and (max-width: 1024px) {
              font-size: 3.7vw;
              letter-spacing: 0.7vw;
              border-radius: 1.5vw;
              padding-top: 1vw;
              padding-bottom: 1.5vw;
              padding-left: 3.3vw;
              padding-right: 2.8vw;
            }
          }
        }
      }

      .botttom-map-logo-box {
        display: flex;
        width: 100%;
        @media all and (max-width: 1024px) {
          flex-direction: column;
        }
        .left-box {
          display: flex;
          width: 50%;
          flex-direction: column;
          align-items: flex-start;
          @media all and (max-width: 1024px) {
            width: 100%;
          }
          a {
            display: flex;
            width: 100%;
            .map-box {
              display: flex;
              flex-direction: column;
              width: 100%;
              img {
                width: 100%;
              }
            }
          }
          .small-text {
            font-family: "微軟正黑體";
            letter-spacing: 0.2em;
            font-size: 0.7vw;
            margin-top: 0.3vw;
            @media all and (max-width: 1024px) {
              font-size: 2.5vw;
              align-self: center;
            }
          }
        }
        .right-box {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding-top: 1.5vw;
          margin-left: 1vw;
          @media all and (max-width: 1366px) {
            padding-top: 1.3vw;
          }
          @media all and (max-width: 1024px) {
            margin-left: 0vw;
            width: 100%;
          }
          .conpany-icon-box {
            position: relative;
            display: flex;
            @media all and (max-width: 1024px) {
              justify-content: center;
              padding-right: 3vw;
            }
            .company1 {
              width: 50%;
              @media all and (max-width: 1024px) {
                width: 33%;
              }
            }

            .company2 {
              width: 42%;
              margin-left: 1vw;
              @media all and (max-width: 1024px) {
                width: 30%;
                margin-left: 3vw;
              }
            }

            &::after {
              content: "";
              position: absolute;
              background-color: #727171;
              width: 1px;
              height: 1.45vw;
              left: 8.5vw;
              top: 0.5vw;
              @media all and (max-width: 1024px) {
                display: none;
              }
            }
          }

          .phone-img-box {
            width: 98%;
            margin-top: 0.55vw;
            @media all and (max-width: 1024px) {
              display: flex;
              width: 67%;
              justify-content: center;
              margin-top: 1.2vw;
              align-self: center;
              padding-right: 2vw;
            }
            img {
              width: 100%;
            }
          }

          .small-text {
            display: flex;
            font-family: "微軟正黑體";
            margin-top: 0.8vw;
            @media all and (max-width: 1024px) {
              justify-content: center;
              margin-top: 2vw;
            }
            :first-child {
              color: #3e3a39;
              font-size: 0.6vw;
              letter-spacing: 0.15em;
              align-self: center;
              @media all and (max-width: 1024px) {
                font-size: 2.5vw;
                letter-spacing: 0.12em;
              }
            }
            :last-child {
              color: #595757;
              font-size: 0.5vw;
              letter-spacing: 0.1em;
              align-self: center;
              margin-left: 0.5vw;
              @media all and (max-width: 1024px) {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  .right-box {
    display: flex;
    width: 55%;
    position: relative;
    @media all and (max-width: 1024px) {
      width: 100%;
    }
    .form-logo-box {
      position: absolute;
      z-index: 30;
      background: linear-gradient(
        to bottom,
        #dacfbb 0%,
        #bf9e7c 21%,
        #92644c 45%,
        #bb8b69 74%,
        #ceb58e 100%
      );
      -webkit-mask-image: url(../images/form_logo.png);
      mask-image: url(../images/form_logo.png);
      // -webkit-mask-image: url(https://ws.srl.tw/cs/2024071915082268/img/img2024082210135988.png);
      // mask-image: url(https://ws.srl.tw/cs/2024071915082268/img/img2024082210135988.png);
      mask-repeat: no-repeat;
      overflow: hidden;
      height: 5vw;
      width: 5.3vw;
      left: 24vw;
      top: -2.6vw;
      overflow: hidden;
      mask-size: 100%;
      @media all and (max-width: 1024px) {
        top: 20vw;
        height: 24vw;
        width: 24vw;
        left: 50%;
        transform: translate(-50%, -50%);

        -webkit-mask-image: url(../images/form_logo@2x.png);
        mask-image: url(../images/form_logo@2x.png);
        // -webkit-mask-image: url(https://ws.srl.tw/cs/2024071915082268/img/img2024082210142990.png);
        // mask-image: url(https://ws.srl.tw/cs/2024071915082268/img/img2024082210142990.png);
      }
      .light {
        position: relative;
        z-index: 1;
        width: 70%;
        height: 200%;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );

        transform: rotate(34deg) translateX(-200%);
        animation-name: lightMv;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
    @keyframes lightMv {
      0% {
        transform: rotate(34deg) translateX(-200%);
      }
      100% {
        transform: rotate(34deg) translateX(200%);
      }
    }

    .form-text1 {
      position: absolute;
      top: 3vw;
      width: 8vw;
      left: 22.6vw;
      z-index: 30;
      @media all and (max-width: 1024px) {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 20%;
        width: 38vw;
      }
    }

    .form-text2 {
      position: absolute;
      top: 5.5vw;
      width: 29vw;
      left: 12.2vw;
      z-index: 30;
      @media all and (max-width: 1024px) {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 28%;
        width: 71vw;
      }
    }

    .form-text3 {
      position: absolute;
      top: 8.5vw;
      width: 20.5vw;
      left: 16vw;
      z-index: 30;
      @media all and (max-width: 1024px) {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 35%;
        width: 71vw;
      }
    }

    .form-text4 {
      position: absolute;
      top: 11vw;
      width: 21vw;
      left: 16vw;
      z-index: 30;

      @media all and (max-width: 1024px) {
        left: 50%;
        transform: translate(-50%, -50%);
        top: 42%;
        width: 71vw;
      }
    }

    .img-box {
      display: flex;
      width: 100%;
      position: relative;

      .hint {
        @include hint();
        @media all and (max-width: 1024px) {
          bottom: 1.5%;
          right: 2%;
        }
      }
      img {
        width: 100%;
        @media all and (max-width: 1024px) {
          width: 100vw;
        }
      }
    }
  }
}
