.form {
  background-color: #131f3f;
  z-index: 30;
  position: relative;
  width: 100%;
  // height: 90vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 2vw;
  overflow: hidden;
  padding-top: 6vw;
  .title-box {
    color: white;
    font-size: 1.3vw;
    font-family: "微軟正黑體";
    letter-spacing: 0.1em;
    // padding-top: 3vw;
    top: 4vw;
    left: 23vw;
    position: absolute;
  }

  .form-content {
    display: flex;
    width: 100%;
    position: relative;

    .cut-3-left {
      z-index: 3;
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 39vw;
      padding-top: 1vw;
      padding-bottom: 2vw;
      background-color: white;
      margin-left: 7vw;
      margin-top: 4vw;
      .cut-3-form {
        width: 81%;

        .cut-3-form-title {
          > :nth-child(1) {
            @media screen and (max-width: 1920px) {
              letter-spacing: 2px;
            }
          }
          > :nth-child(2) {
            @media screen and (max-width: 1920px) {
              margin-left: 3vw;
            }
            @media screen and (max-width: 1680px) {
              margin-left: 2vw;
            }
          }
        }

        label {
          font-family: "Noto Sans TC", serif;
          letter-spacing: 0.15em;
        }
        select {
          font-size: 1vw;
          border: none;
          background-color: transparent;
          margin-right: 2.5vw;
          margin-left: 2vw;
          width: 22vw;
          font-family: "Noto Sans TC", serif;
          letter-spacing: 0.15em;
        }
        input[type="text"] {
          font-size: 1vw;
          border: none;
          background-color: transparent;
          margin-right: 2.5vw;
          margin-left: 2vw;
          width: 22vw;
          letter-spacing: 0.1em;
        }
        input[type="tel"] {
          font-size: 1vw;
          border: none;
          background-color: transparent;
          margin-right: 2.5vw;
          margin-left: 2vw;
          width: 22vw;
        }
        input[type="email"] {
          font-size: 1vw;
          border: none;
          background-color: transparent;
          margin-right: 2.5vw;
          margin-left: 2vw;
          width: 22vw;
        }

        .danger_p {
          position: relative;
          margin-bottom: 0;
          margin-top: 2%;
          font-size: 0.8vw;
          @media screen and (max-width: 500px) {
            font-size: 3vw;
            margin-top: 4%;
          }
        }

        .text-danger {
          margin-right: 1%;
          font-weight: 500;
          font-size: 0.8vw;
          color: red;
          position: absolute;
          left: -2%;
          top: 10%;
          @media screen and (max-width: 500px) {
            margin-right: 0%;
          }
        }

        > :nth-child(3) {
          margin-top: 1vw;
          display: flex;
          align-items: baseline;
          justify-content: left;
          position: relative;
          margin-bottom: 1vw;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #7d80ad;
            bottom: -0.5vw;
          }
          label {
            font-size: 1vw;
            font-weight: 400;
            position: relative;
          }
        }

        > :nth-child(4) {
          display: flex;
          align-items: baseline;
          justify-content: left;
          position: relative;
          margin-bottom: 1vw;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #7d80ad;
            bottom: -0.5vw;
          }

          label {
            font-size: 1vw;
            font-weight: 400;
            position: relative;
          }
        }

        > :nth-child(5) {
          display: flex;
          align-items: baseline;
          justify-content: left;
          position: relative;
          margin-bottom: 1vw;

          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #7d80ad;
            bottom: -0.5vw;
          }

          label {
            font-size: 1vw;
            font-weight: 400;
            position: relative;
          }
        }

        > :nth-child(7) {
          margin-top: 1vw;
          display: flex;
          align-items: baseline;
          justify-content: left;
          position: relative;
          margin-bottom: 1vw;
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #7d80ad;
            bottom: -0.5vw;
          }

          label {
            display: flex;
            justify-content: space-between;
            font-size: 1vw;
            font-weight: 400;
            position: relative;
            width: 7vw;
            span {
              font-family: "Noto Sans TC", serif;
            }
          }
        }

        > :nth-child(8) {
          margin-top: 1vw;
          display: flex;
          align-items: baseline;
          justify-content: left;
          position: relative;
          margin-bottom: 0.5vw;

          label {
            display: flex;
            justify-content: space-between;
            font-size: 1vw;
            font-weight: 400;
            position: relative;
            width: 4vw;
            span {
              font-family: "Noto Sans TC", serif;
            }
          }
          input {
            font-size: 1vw;
            border: none;
            background-color: transparent;
            margin-right: 2.5vw;
            margin-left: 2vw;
            width: 22vw;
          }
        }

        > :nth-child(9) {
          display: flex;
          align-items: baseline;
          position: relative;
          justify-content: flex-start;
          margin-bottom: 0;
          margin-top: 0vw;

          &::after {
            content: "";
            position: absolute;
            width: 85%;
            right: 0px;
            height: 1px;
            background-color: #7d80ad;
            bottom: 0.5vw;
          }
        }

        .cut-3-form-item {
          .cut-3-form-item-in {
            display: flex;
            align-items: baseline;
            justify-content: center;
            position: relative;
            margin-bottom: 1vw;

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              background-color: #7d80ad;
              bottom: -0.5vw;
            }

            label {
              font-size: 1vw;
              font-weight: 400;
              position: relative;
            }
          }
        }
        .cut-3-form-privacy {
          display: flex;
          align-items: center;

          > :nth-child(1) {
            font-size: 0.7vw;
            letter-spacing: 0.1vw;
            color: #595757;
            font-weight: 500;
            font-family: "Noto Sans TC", serif;
            @media screen and (max-width: 1920px) {
              letter-spacing: 2px;
            }
          }
          .cut-3-form-privacy-line {
            display: none;
            height: 1px;
            width: 85.5%;
            background-color: #7d80ad;
            @media screen and (max-width: 1680px) {
              width: 82%;
            }
          }
        }
      }

      .cut-3-form-bottom {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 0.5vw;
        .cut-3-form-bottom-left {
          .ex-l {
            display: block;
            line-height: 1.5;
            @media screen and (max-width: 1680px) {
              display: none;
            }
            &:first-child {
              margin-bottom: 0.2vw;
            }
          }

          .ex {
            display: none;
            @media screen and (max-width: 1680px) {
              display: block;
            }
          }

          p {
            color: #474956;
            font-size: 0.53vw;
            letter-spacing: 0.19em;
            margin-bottom: 0vw;
            font-family: "Noto Sans TC", serif;
            @media screen and (max-width: 1920px) {
              font-size: 0.57vw;
              // letter-spacing: 2px;
              letter-spacing: 0.12em;
            }
            @media screen and (max-width: 1680px) {
              font-size: 0.7vw;
            }
          }

          .cut-3-form-checkbox {
            display: flex;
            align-items: center;
            margin-top: 0.2vw;
            p {
              letter-spacing: 0.25vw;
              text-indent: 0.25vw;
              font-size: 0.635vw;
              font-weight: 600;
              line-height: 1.5;
              margin-bottom: 0;
              color: #474956;
              @media screen and (max-width: 1920px) {
                line-height: 1;
              }
              @media screen and (max-width: 1680px) {
                text-indent: 0%;
                font-size: 0.75vw;
                margin-left: 0.3vw;
              }
            }
          }
        }
        .cut-3-form-bottom-right {
          .cut-3-form-button {
            font-size: 1vw;
            padding-top: 0.35vw;
            padding-bottom: 0.45vw;
            padding-left: 1vw;
            padding-right: 1vw;
            border: none;
            color: white;
            border-radius: 10px;
            text-indent: 0.4vw;
            letter-spacing: 0.23vw;
            background: linear-gradient(
              to bottom,
              #003399 0%,
              #0a2560 50%,
              #161f3b 100%
            );
            cursor: pointer;
            font-family: "Noto Sans TC", serif;

            @media screen and (max-width: 1920px) {
              text-indent: 0.3vw;
              letter-spacing: 0.3vw;
            }

            @media screen and (max-width: 1680px) {
              width: 7vw;
              text-indent: 0.4vw;
              letter-spacing: 0.4vw;
            }
          }
        }
      }
    }

    .cut-3-left-bottom {
      width: 81%;
      display: flex;
      margin-top: 2vw;

      .cut-3-bottom-left,
      .cut-3-bottom-right {
        width: 50%;
        .small-text {
          font-family: "Noto Sans TC", serif;
          letter-spacing: 0.2em;
          font-size: 0.7vw;
          margin-top: 0.5vw;
        }
        .cut-3-left-map {
          width: 100%;

          .map_img {
            width: 100%;
          }
        }
      }
      .cut-3-bottom-right {
        padding-top: 0.9vw;

        .cut-3-bottom-contact {
          display: flex;
          align-items: end;
          flex-direction: column;
          .cut-3-bottom-icon {
            display: flex;
            align-items: center;
            justify-content: end;
            .cut-3-bottom-creative {
              width: 42% !important;
            }

            .cut-3-bottom-const {
              width: 45% !important;
            }

            .cut-3-bottom-icon-line {
              background-color: #727171;
              width: 1px;
              height: 1vw;
              margin-left: 0.5vw;
              margin-right: 0.35vw;
            }
          }

          .cut-3-bottom-phone {
            width: 92%;
            margin-top: 1vw;
            img {
              width: 100%;
            }
          }

          .small-text {
            display: flex;
            font-family: "Noto Sans TC", serif;
            margin-top: 0.8vw;
            :first-child {
              color: #3e3a39;
              font-size: 0.6vw;
              letter-spacing: 0.1em;
              align-self: center;
            }
            :last-child {
              color: #595757;
              font-size: 0.5vw;
              letter-spacing: 0.1em;
              align-self: center;
            }
          }
        }
      }
    }
  }

  .form-right-box {
    // top: -2.6vw;
    display: flex;
    width: 55%;
    position: relative;
    .form-logo-box {
      position: absolute;
      background: linear-gradient(
        to bottom,
        #dacfbb 0%,
        #bf9e7c 21%,
        #92644c 45%,
        #bb8b69 74%,
        #ceb58e 100%
      );
      -webkit-mask-image: url(../images/form_logo.png);
      mask-image: url(../images/form_logo.png);
      mask-repeat: no-repeat;
      overflow: hidden;
      height: 5vw;
      width: 5.3vw;
      left: 21.8vw;
      top: -2.6vw;
      overflow: hidden;
      mask-size: 100%;

      .light {
        position: relative;
        z-index: 1;
        width: 70%;
        height: 200%;
        background: linear-gradient(
          to right,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0) 100%
        );

        transform: rotate(34deg) translateX(-200%);
        animation-name: lightMv;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      }
    }
    @keyframes lightMv {
      0% {
        transform: rotate(34deg) translateX(-200%);
      }
      100% {
        transform: rotate(34deg) translateX(200%);
      }
    }
    .form-text-svg {
      position: absolute;
      top: 3vw;
      width: 29vw;
      left: 10vw;
    }
    .img-box {
      display: flex;
      // position: absolute;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .cut-3-left {
    display: none;
  }

  .cut-3-remind {
    display: block;
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 1.5vw;
    bottom: 2%;
    right: 4%;
  }
  .cut-3-light-1 {
    width: 20% !important;
    right: 48%;
    bottom: 34%;
  }
  .cut-3-light-2 {
    width: 30% !important;
    right: 22%;
    bottom: 40%;
  }
  .cut-3-icon {
    width: 12.5vw !important;
    margin-top: -2%;
    left: 14%;
  }
}
